body {
    font-family: Arial, Helvetica, sans-serif;
}

.main__header {
    border-bottom: 1px solid lightgrey;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 30px;
}

.main__header a {
    text-decoration: none;
}

.main__header a:hover {
    text-decoration: underline;
    
}

.main__header a:visited {
    color: #0366D6;
}

.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.main__body li{
    font-size: 15px;
    margin-bottom: 15px;
}

.main__body li a:visited {
    color: #0366D6;
}

.main__body li a {
    text-decoration: none;
    color: #0366D6;
}

.main__body li a:hover {
    text-decoration: underline;
}